<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button routerLink="/fetch-data" mat-button>Fetch Server Data</button>
  <button routerLink="/embedded-graph" mat-button>D3 embedded</button>
  <button routerLink="/material-elements" mat-button>Angular Material elements</button>
  <button routerLink="/webworker" mat-button>webworker example</button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>