.component-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .progress-container {
    display: flex;
    flex-direction: column;
  }

  .more-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
